body {
    margin: 0px;
    font-family:Arial, sans-serif;
}

.section-1 {
    background-color:#4915f8;
    color: white;
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 2%;
    padding-bottom: 15%;
    align-items: center;
}

.section-2 {
    background-color:#4915f8;
    color: white;
    display: flex;
    flex-direction: row;
      
    padding-left: 30px;
    padding-right: 2%;
    
    align-items:center;
}


.headline-3 {
    display: flex;
    min-width: 445px;
    max-width: 445px;
       
}

.pic1 {
    display: flex;
    max-height: 450px;
    padding-bottom: 10%;
    padding-left: 0px;
    
}

.section-3 {
    background-color:#4915f8;
    color: lightgray;
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    padding-left: 30px;
    padding-right: 2%;
    padding-bottom: 5%;
    align-items: center;
}

.section-4 {
    background-color:#4915f8;
    color: white;
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 15%;
    padding-top: 5%;
    
    
}

.h2 {
    min-width: 350px;
    max-width: 350px;
       
}

.h3 {
    min-width: 350px;
    max-width: 350px;
       
}

.h-2 {
    min-width: 350px;
    max-width: 350px;
       
}

.h-3 {
    min-width: 350px;
    max-width: 350px;
       
}

.h-4 {
    min-width: 350px;
    max-width: 350px;
       
}

.free {
    border: 0px;
    border-radius: 100px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    font-weight:600;
    font-size: medium;
}

a:visited {
    color:lightgray;
}

a:hover {
    color:darkgray;
}

.sessions {
    width: 200px;
    text-wrap: wrap;
    border: 0px;
    border-radius: 100px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 24px;
    padding-bottom: 24px;
    color: white;
    font-weight:600;
    font-size: medium;
}

/*
input[type='button'] {
    border: 0px;
    border-radius: 100px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    font-weight:600;
    font-size: medium;

}
*/

/*
h1 {
    font-size: 10em;
}
*/