body {
    margin: 0px;
    font-family:Arial, sans-serif;
}

.section-1 {
    background-color:#4915f8;
    color: white;
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 2%;
    padding-bottom: 15%;
    align-items: center;
}

.free {
    border: 0px;
    border-radius: 100px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    font-weight:600;
    font-size: medium;
}

a:visited {
    color:lightgray;
}

a:hover {
    color:darkgray;
}

.sessions {
    width: 200px;
    text-wrap: wrap;
    border: 0px;
    border-radius: 100px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 24px;
    padding-bottom: 24px;
    color: white;
    font-weight:600;
    font-size: medium;
}

/*
input[type='button'] {
    border: 0px;
    border-radius: 100px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    font-weight:600;
    font-size: medium;

}
*/

h1 {
    font-size: 10em;
}